.match-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.match-inner span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}
.match-inner span:nth-child(2) {
    margin-right: 20px;
    flex-grow: 1;
    color: #de1212;
    font-weight: bold;
    text-align: right;
}

.match-apply-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.match-apply-button-off {
    background-color: #ccc;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.big-button {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    height: 40px;
  
    margin: 16px 0 16px 0;
  
    text-decoration: none;
    cursor: pointer;
    font-family: "Roboto-ExtraBold", sans-serif;
    font-size: 18px;
    font-weight: 800;
    background: var(--main-color);
    color: #ffffff;
  }