.match-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.match-inner span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}
.match-inner span:nth-child(2) {
    margin-right: 20px;
    flex-grow: 1;
    color: #de1212;
    font-weight: bold;
    text-align: right;
}

.match-apply-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}