.calendar-table {
	width:100%;
	text-align: center;
}
.calendar-table td,
.calendar-table th {
	height:40px;
}
.calendar-table .sunday {
	color:#de1212;
}
.calendar-table .saturday {
	color:#1264de;
}
.calendar-table .another-month{
	opacity:.25;
}
.calendar-table .today {
	font-weight:bold;
}